In [1]:
import pandas as pd

#url de donde obtengo los datos
url = 'http://www.rava.com/precios/panel.php?m=OPC'

# Esta linea lee a url, el [8] es porque es la 8va tabla de la pagina la que tiene las opciones
df = pd.read_html(url, thousands='.')[8]

# Esta linea le pone como nombres de columnas los valores que estaban en la primera fila
df.columns = list(df.loc[0,:])

# Esta linea elimina la primera fila que estaba con nombres de columnas
df = df.drop(0,axis=0)

# Esta linea remplaza las comas por puntos ya que pandas transforma a numero los flotantes con punto no con coma
df = df.replace(',','.',regex=True)

# Esta linea transforma a numero las columnas de 1 a 7 y redondea a 2 decimales
df[df.columns[1:7]] = df[df.columns[1:7]].apply(pd.to_numeric, errors='coerce').round(2)

# Esta Línea hace lo propio con las dos ultimas pero  como son enteros no hace falta redondear
df[df.columns[8:10]] = df[df.columns[8:10]].apply(pd.to_numeric, errors='coerce')

# #Lo guardo en un excel
df.to_excel('opciones.xlsx')

In [2]:
#creo la columna Strike, extrayendo los datos de la columna Especie
df['Strike'] = df['Especie'].str.findall('(\d+(\.\d{1,2})?)').apply(lambda x : x[0][0])

In [3]:
#creo la columna Mes de Vto extrayendo datos de la columna Especie
df['Mes'] = df['Especie'].apply(lambda x : x[-2:])

In [4]:
# Imprimo el DataFrame
df

,Especie,Último,% Día,Anterior,Apertura,Mínimo,Máximo,Hora,Vol. Nominal,Vol. Efectivo,Strike,Mes
1,AGRC12.0DI,9.00,9.12,8.25,9.5,9.00,9.5,15:13,5,4550,12.0,DI
2,AGRC12.0OC,7.78,-2.73,8.00,8.0,7.78,8.0,14:31,10,7955,12.0,OC
3,ALUC13.9OC,35.30,3.82,34.00,35.0,35.00,35.3,16:21,14,49060,13.9,OC
4,ALUC31.0DI,22.50,2.96,21.85,22.5,21.50,22.5,16:56,132,296800,31.0,DI
5,ALUC31.0OC,15.80,-16.84,19.00,15.8,15.80,15.8,16:42,5,7900,31.0,OC
...,...,...,...,...,...,...,...,...,...,...,...,...
162,YPFV620.OC,10.00,11.11,9.00,10.0,10.00,10.0,13:29,1,1000,620,OC
163,YPFV680.OC,12.50,-21.56,15.94,12.0,12.00,12.5,15:31,2,2450,680,OC
164,YPFV700.OC,19.00,-20.83,24.00,19.0,19.00,19.0,13:50,2,3800,700,OC
165,YPFV720.OC,28.00,-13.85,32.50,27.0,25.00,28.0,13:35,11,28000,720,OC
166,YPFV800.OC,80.00,-26.61,109.00,80.0,80.00,80.0,13:50,5,40000,800,OC